/* Ficher créé par Camille Rouzaud */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root{
    font-size: 16px;
    font-family: Montserrat;
    --logo-ratio: calc(2337/837);
    --logo-width: 62vw;
    --logo-heigth: calc(var(--logo-ratio) * var(--logo-width));
    --scrollbar-width: 0.3rem;
    --navbar-height: 4rem;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: white;
}

body::-webkit-scrollbar{
    width: var(--scrollbar-width);
}

body::-webkit-scrollbar-track{
    background-color: #000000;
}

body::-webkit-scrollbar-thumb{
    background: #f0ff6a;
    border-radius: calc(var(--scrollbar-width) / 2);
}

.header{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        0turn,
        #000000,
        #00000000 50% 
    );
}

.header h2{
    margin: 0;
    padding: 0;
}

img.logo{
    transition: 1000ms;
    width: var(--logo-width);
    height: var(--logo-height);
}

img.logo:hover{
    width: calc(var(--logo-width) + 2rem * var(--logo-ratio));
    height: calc(var(--logo-height) + 2rem);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li a{
    color: white;
    text-decoration: none;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    margin: 0;
    height: var(--navbar-height);
    background: linear-gradient(
        0.25turn,
        #000000 25%,
        #ffffff00 25%,
        #ffffff00 75%,
        #000000 75%
    );
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
} 

.navbar ul{
    display: flex;
    justify-content: center;
    background: linear-gradient(
        #000000 20%,
        #ffffff 40%,
        #ffffff 60%,
        #000000 80%
    );
}

.navitem{
    background-color: black;
    position: relative;
    width: calc(90vw / 3);
    margin: 0 1px;
    height: var(--navbar-height);
    text-align: center;
}

.navitem:first-child{
    margin-left: 0;
}

.navitem:last-child{
    margin-right: 0;
}

.navitem a{
    transition: 200ms;
    position: relative;
    top: calc((var(--navbar-height) - 1rem) / 2);
}

.navitem a:hover{
    text-shadow: white 0 0 .5rem ;
    color: #f0ff6a;
}

.main{
    padding-top: 2rem;
    background: black;
    min-height: 100vh;
}

.article{
    width: calc(100vw - 4rem);
    border-top: white 1px solid;
    position: relative;
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 2rem;
}

.article .subject{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.article img{
    vertical-align: text;
    margin: 2rem;
    max-height: 70vh;
    max-width: 40vw;
    width: auto;
    height: auto;
}

.article h3{
    font-size: 2rem;
    margin: 2.5rem 2rem 1rem 2rem;
    text-align: center;
}

.article p{
    width: calc(100% - 40vw - 12rem);
    text-align: center;
    margin: 2rem;
    position: relative;
    height: min-content;
}*

.link{
    color: #0040b8;
    text-decoration: underline;
}

.footer{
    border-top: #0040b8 1px solid;
    margin: 0;
    padding: 0;
    background-color: #090f1a;
}

.footer p{
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}